<%= form_tag search_informations_path, method: :get, remote: true do %>
  <div>
    Системы и объекты:<br/>Минздрав
  </div>

  <br/>
  <%= render partial: 'layouts/filters/subject_parameter', locals: {is_selected: false} %>
  <br/>
  <%= render partial: 'layouts/filters/dates', locals: {is_selected: false} %>
  <br/>
  <%= submit_tag "Получить данные", class: "btn btn-success" %>
<% end %>

<div id="info_data"></div>

