<div>
  Системы и объекты:<br/>Минздрав
</div>

<br/>
<table class="table">
  <tr>
    <th>Наименование параметра</th>
    <th>Субъект</th>
  </tr>
  <tr>
    <td>1</td>
    <td>123</td>
  </tr>
</table>

<br/>
<table class="table">
  <tr>
    <th>Дата и время</th>
    <th>Значение</th>
  </tr>
  <tr>
    <td>12.03.1999</td>
    <td>90000</td>
  </tr>
</table>